/* ################################### ANIMATIONS ###################################*/

-moz-keyframes loading {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes loading {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes loading {
    0% {transform:rotate(0deg) scale(1);}
    50% {transform:rotate(360deg) scale(0.5);}
    100% {transform:rotate(720deg) scale(1);}
}


@keyframes rainfall {
    0% { background-position-y: 0;
     }
    50%{
    }     
      100% { background-position-y:900px;	}
}

@keyframes rainside {
    0% { background-position-x: 0px;
    	background-size:225px; }
    50%{
    	background-size:450px;
    }
    100% { background-position-x: 450px;
    background-size:225px; }
}





/* ################################### GLOBAL ###################################*/

* {
    box-sizing: border-box
}
html {
    margin: 0;
    height: 100%;
    /* padding-top: 105px; */
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    transition: box-shadow 0.3s;
    padding-top: 105px;
    /* perspective: 1000px; */
    transition-delay: 0.5s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    background: url(floralBGWhite.png);
}

.redeemMode{
	background: url(confetti.png);
	animation: rainfall infinite linear 5s, rainside infinite alternate ease-in-out 10s;
}




input, select, textarea {
	background-color:white;	
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}


#systemMessage {
	text-align:center;
	background: #4ab74a;
	font-size:14px;
	margin:0;
	color: rgba(255,255,255,0.6);
	padding:10px 0;
	
}

#systemMessage u{
	font-weight:bold;
	color: #fff;
	cursor:pointer;
}

#systemMessage b{
	font-size:17px;
}

#systemMessage.red {
	background: #cc5336;
}

#scrollContent{
	perspective: 1000px;
	/*-webkit-overflow-scrolling: touch;
	 overflow-y:auto; */
}

#pageLoader {
    height: 100%;
    text-align: center;
    font-size: 1.5em;
}

#pageLoader:before {
    content: '';
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #efd27d transparent;
    -webkit-animation: loading 1s infinite linear;
    border-radius: 100%;
    margin: 0 auto;
}



/* ################################### Shutdown Notice ################################### */
#shutdownNoticeShadow{
	background: rgba(80, 80, 80, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
}

#shutdownNotice{
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 100%;
    width: 500px;
}

#shutdownNotice h1{
	color: tomato;
}

#shutdownNotice h2{
	font-size: 18px;
	font-weight: normal;
}

#shutdownNotice p{
	color: #555;
}

#shutdownOkBtn{
	background: #f1cd63;
    border: 0;
    color: #444;
    font-family: 'Raleway', sans-serif;
    height: 36px;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 15px;
    float: right;
    font-weight: bold;
	margin-top: 10px;
	
}

/* ################################### ELEMENT ROTATOR ################################### */
	.elementRotator{
		user-select: none;
		background: #d9a742;
		background: -moz-linear-gradient(-45deg, #e2c291 0%, #d9a742 100%);
		background: -webkit-linear-gradient(-45deg, #e2c291 0%,#d9a742 100%);
		background: linear-gradient(135deg, #e2c291 0%,#d9a742 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C291', endColorstr='#D9A742',GradientType=1 );
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2C291', endColorstr='#D9A742', GradientType=1);
		position:relative;
		width: 100%;
		height: 200px;
	}
	
	.elementRotator > div{
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		
	}	
	
	
	.elementRotator img{
	margin:0 auto;
		max-height:100%;
		display: block;
		max-width:100%;
	}		
	
	

@keyframes slideDown {
  0%   {transform: scale(0.8) translateY(-100%);}
  50%  {transform: scale(1.1) translateY(25%);}
  100% {transform: scale(1) translateY(0%);}
}

.elementRotator{
  transform-origin: 50% 50%;
  animation: slideDown .5s;

}	





/* ################################### 2 Column ProductList ################################### */


.product-parent{
	    margin-top: 0.5em;
	}
	
	.product-item-hr{
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		text-align: center;
		margin:5em 1em 1em;
		font-size: 1.7em;
		color: #444;
	}
	
   	.product-item-hr.longText{
		font-size: 1.5em;	
	}		
	
	
	.product-item {
		width: 46%;
		TEXT-ALIGN: center;
		max-width: 46%;
		margin: 2% 2% 2% 0;
		box-shadow: 0 0 20px rgba(0,0,0,0.2);
		background: rgba(255,255,255,0.6);
		padding-bottom:1em;
		border-radius: 5px;
		position:relative;
	}

	.product-item-image {
		display: block;
		margin: 0 auto 1em;
		width: 100%;
		border-bottom: 2px solid #e0b947;
		border-radius: 5px;
	}
	
	.product-item-title {
		font-size: 2em;
		display: block;
		margin: 0 0.6em 0.4em;
	}
	
	.product-item-brand {
		font-weight: bold;
		top: 0.4em;
		position: absolute;
		color: #c38d36;
		left: 0.4em;
		font-size: 1.4em;	}	

	.product-item-info {
		line-height: 1em;
		display: block;
		margin: 0 1em;
	}
	
	.product-item-buy {
		margin-top: 15px;
	}	
	
		
	    
	.product-item-price{
	    font-weight: bold;
		color: #c38d36;
		font-size: 1.4em;
		line-height: 1.5em;	
	}		
	
	.product-item-price .strikeout{
		font-weight: normal;
		color: #bbb;
		text-decoration: line-through;
		margin-right: 0.5em;
	}
		
	.product-item-order{
		font-weight: bold;
		color: #eee;
		font-size: 1em;
		padding: 0.5em 1em;
		background: #444;
		cursor:pointer;
	}

	
	
	
	
	
/* ################################### LAB REQUEST POPUP ################################### */


@keyframes slideInFromLeft {
  0% {
    transform: translateX(20%);
	opacity:0;
  }
  50% {
    transform: translateX(0);
	opacity:0.5;
  }
  
    100% {
    transform: translateX(0);
	opacity:1;
  }
}


#liquidOrderHeading{
	text-align:center;
	margin: 20px 3vw 20px;
	width: 30%;
	font-size: 16px;
}
#liquidOrderFlask {
     animation: 1s ease 0s 1 slideInFromLeft;
     max-width: max-content;
     margin: 20px auto 0;
}
#liquidOrderData {
    background: #fffcf569;
    position: relative;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.redeemMode #liquidOrderData {
	background: rgba(255, 252, 245, 0.8);
}

#yourVeryOwn {
    display: block;
    color: #d7a000;
    font-size: 1.2em;
}


#sendingPanel {
	position: absolute;
	width: 100%;
	opacity:0;
	transition:opacity 1s ease 1.2s;
}
#sendingPanel:before {
    content:'';
    width:50px;
    height:50px;
    display: block;
    border:5px solid;
    border-color: #efd27d transparent;
    -webkit-animation: loading 1s infinite linear;
    border-radius: 100%;
    margin: 0 auto;
}



.sending #sendingPanel {
	opacity:1;
	
	visibility: visible !important;
}

#sendingPanel h4 {
    font-size: 31px;
    margin: 20px;
    color: #888;
    text-align: center;
}

#liquidOrderTable {
    font-size: 15px;
    color: #444;
    text-align:right;
    padding: 20px;
    border-spacing: 0;
    
}

@keyframes sendRequest {
	0% {

		    box-shadow: 0 0 0px 100em rgba(0,0,0,0.1);
		opacity:1;
    }
	50% {
		transform: rotateX(40deg ) translateY(20%) scale(0.9); 
		    box-shadow: 0 0 0px 100em rgba(0,0,0,0.1);
		opacity:1;
    }
    100% {
		transform: rotateX(40deg ) translateY(-200%) scale(0.9); 
		    box-shadow: 0 0 0px 100em rgba(0,0,0,0.0);
		opacity:0;
	}
	    

}


.sending #liquidOrderTable{

animation:forwards  2s  sendRequest ease ;
 background: #fffcf569;

	}
	


		 #liquidOrderData.sending button{
display:none;	}


#liquidOrderTable .info {
    background: #444;
    color: white;
    line-height: 20px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    float: left;
    vertical-align: middle;
    margin: 6px;
}

#liquidOrderTable td {
    padding: 5px 10px;
	transition: background-color 0.5s;	
}



#liquidOrderTable hr {
    border-top: 1px solid #ccc;
    border-width: 1px 0px 0 0;
}

#liquidOrderTable input, #liquidOrderTable select {
    font-family: 'Raleway', sans-serif;
    background: #745d2d1a;
    border: 0;
    height: 35px;
    padding: 0 7px;
    color: #444;
    display: block;
    width: 127px;
    font-size: 15px;
    font-weight: bold;
	
}


#liquidOrderTable.error td{
	background-color: tomato;	
	transition:none;
}

input#liquidOrderCustomerVaper {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}  

.liquidOrderSizeOption,
.liquidOrderNicTypeOption {
    background: #745d2d1a;
    padding: 8px 8px;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
}


.liquidOrderSizeOption.selected,
.liquidOrderNicTypeOption.selected{
	color: #444;
	background: #efd27d;
}



#liquidOrderNectarName {
    color: #444;
    font-family: "Beleren";
    line-height: 0.9em;
    display: block;
    text-shadow: -1px -1px 1px white, 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 2.2em;
}


#liquidOrderNectarTags{
	font-weight:bold;
	margin-bottom: 20px;
	color: #be8e00;
}

#liquidOrderCostRow > td{
	padding-bottom:2em;
}

#liquidOrderCostValue {
    font-size: 30px;
    color: #4ab74a;
    font-weight: bold;
}

#redeemInfoText{
	line-height: 0em;
	display: block;
	color: #666;
	font-weight: bold;
	font-size: 12px;
}

#redeemInfoText b.points{
        font-size: 17px;
        color: #cc5336;
        /* font-weight: bold; */
        /* line-height: 15px; */
}

#liquidOrderRedeemRow{
    background: rgba(116, 93, 45, 0.1);
  
    
}

#liquidOrderRedeemRow.notEnough{
    opacity: 0.5;
}

#liquidOrderRedeemRow.notEnough #liquidOrderUsePointsCaption{
    pointer-events: none;
}

#liquidOrderRedeemRow > td {
    padding-top:15px;
    padding-bottom:15px;
}

#liquidOrderRedeem.show{
    opacity: 1;
}

#liquidOrderUsePointsInfo{
	display: block;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
	color: #555;
}
#liquidOrderUsePointsCaption{
	color: #cc5336;
    font-size: 18px;
    font-weight: bold;
}

#liquidOrderUsePoints + label:before{
    width: 20px;
    height: 20px;
    display: inline-block;
    content: '';
    vertical-align: -0.3em;
    border: 2px solid #666;
    border-radius: 3px;
    margin-right: 0.4em;
}

#liquidOrderUsePoints:checked + label:before{
	background-color: #4ab74a;
	box-shadow: 0 0 0px 4px inset white;
}

#sendOrder,
#cancelOrder {
    background: #4ab74a;
    border: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    height: 36px;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 15px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    transition:background 0.5s;
}


.redeemMode #sendOrder:before {
	content: \1F92A;
}

#cancelOrder {
    background: #444;
    color: #fff;
}
/* ################################### LOGIN PUPOP ################################### */

.credPopupShadow {
    background: rgba(80, 80, 80, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.credPopupShadow.loading .credPopupTable,
.credPopupShadow.loading input
 {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.credPopupShadow.loading .credPopupTitle
 {
animation: blinker 1s linear infinite;
}

.credPopupForm {
    /* background: white; */
    /* height: 450px; */
    /* width: 600px; */
    
    /* padding: 30px; */
    position: relative;
    border-radius: 10px;
    color: #999;
    /* box-shadow: 215px 0 0 0 #eee inset; */
    
    font-family: 'Raleway', sans-serif;
}
.credPopupData {
    background: white;
    border-radius: 3px;
    padding: 33px;
    position: relative;
}


.credPopupTable {
    width: 320px;
    font-size: -2px;
    color: #444;
    margin-top: 16px;
    border-top: 1px solid #eee;
    padding-top: 18px;
    margin-bottom: 12px;
}
.credPopupTable td {
    padding: 5px 0;
}

.credPopupTable input {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 35px;
    padding: 0 7px;
    color: #444;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
}
.credPopupForm input[type=email],
.credPopupForm input[type=password] {
    width: 212px;
}

#changePassPopupShadow input[type=password]{
    width: 150px;
}
#rememberMe + label {
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    float: right;
    margin-left: 10px;
    box-shadow: 0 0 1px 3px white inset;
}
#rememberMe:checked + label {
    background-color: #f1cd63;
}

.credPopupError {
    color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 15px;
    display: block;
    background-color: tomato;
    margin: 5px 0;
    border-radius: 4px;
}
.credPopupMainIcon {
    position: absolute;
    top: 26px;
    left: 27px;
	width:42px;
}
.credPopupTitle {
    line-height: 31px;
    font-size: 21px;
    margin-left: 49px;
    top: 30px;
    color: #444;
    font-weight: bold;
}
.CredPopupButton {
 background: #ddd;
    color: #666;
    border: 0;
    font-family: 'Raleway', sans-serif;
    height: 36px;
    padding: 0 20px;
    border-radius: 3px;
    font-size: 15px;
    float: right;
    font-weight: bold;
}
.proceedCredPopupButton {
    background: #f1cd63;
    color: #444;
    padding: 0 30px;
    margin-left: 10px;
}

.CredPopupHowLogin{
    clear: both;
    float: right;
    font-size: 17px;
    color: #d3644a;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

.CredPopupHowLogin span{
	    display: block;
    font-size: 12px;
    color: #666;
}


/* ################################### HEADER ################################### */

#header {
    background: #111;
    /* position: absolute; */
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    max-width: 100%;
    height: 105px;
    position: fixed;
}
#headerContainer {
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
    display: table;
    height: 100%;
}
#headerLoginText {
    color: #bca076;
    position: absolute;
    right: 10px;
    top: 4px;
}

#headerMenuOpener,
#headerMenuCloser{
	display:none;
}

#headerMenu {
    position: absolute;
    right: 0;
    bottom: 0;
}
#headerMenu a {
    font-size: 15px;
    float: left;
    cursor: pointer;
    color: #8a8072;
    padding: 0 10px 10px;
}


#headerMenu a:hover,
#headerMenu a.selected{
    opacity: 1;
     color: #ffd074;
}
.menuImg {
    display: block;
    margin: 0 auto 6px;
    opacity: 0.8;
    width: 24px;
}
#menuBurger {
    /* display: none; */
    float: right;
}
#goldRibbon {
	background: #d9a742;
	background: -moz-linear-gradient(-45deg, #e2c291 0%, #d9a742 100%);
	background: -webkit-linear-gradient(-45deg, #e2c291 0%,#d9a742 100%);
	background: linear-gradient(135deg, #e2c291 0%,#d9a742 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E2C291', endColorstr='#D9A742',GradientType=1 );
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E2C291', endColorstr='#D9A742', GradientType=1);
    /* font-family: "Beleren"; */
    text-align: center;
    padding: 13px 0;
    margin-bottom: 2%;
    font-size: 35px;
    color: white;
	text-shadow: 0 0 10px #8d6627;
}
/*CONTENT*/

#contentContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}



#sideBar {
    display: none;
    width: 300px;
    color: white;
    font-size: 18px;
    overflow-y: auto;
    text-shadow: 0 0 10px black;
    text-align: right;
}
#mainLogo {
    width: 230px;
    float: left;
    padding: 5px;
	cursor:pointer;
}
#sideBar ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0;
}
#sideBar li {
    margin: 31px 41px 32px 0;
    color: #655a44;
}
#sideBar li:first-child {
    color: #cecece;
}
/* ################################### NECTARS ################################### */

.nectar {
    float: left;
    width: 250px;
    TEXT-ALIGN: center;
    margin-bottom: 5%;
    max-width: 250px;
    padding: 10px 0;
    border-radius: 20px;
    position: relative;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,-9%,0) scale3d(0.9,1.1,1);}
  100% {transform: translate3d(0,-12%,0) scale3d(1,1,1);}
}

.nectar.new img{
  transform-origin: 50% 50%;
  animation: jump .17s linear alternate 6;

}

.nectar.new:after {
    content:'';
    position:absolute;
    height:70px;
    width:70px;
    top:5%;
    right:10%;
    z-index:99;
    background-image: url(new.png);
    background-repeat: no-repeat;
    background-size: cover
}

.nectar:hover,
.nectar.active {
    background-color: rgba(170, 170, 170, 0.4);
}
.nectarFlask {
    width: 75%;
}


.nectarName {
    color: #444;
    font-family: "Beleren";
    font-size: 30px;
    margin-bottom: 0.3em;
    display: block;
    text-shadow: -1px -1px 1px white, 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.nectarInfo {
    color: black;
    line-height: 0.91em;
    /* margin-bottom: 20px; */
    display: block;
    /* height:40px; */
    padding: 0 20px;
}



	
/* ################################### MY LAB ################################### */

#myAccountDetailsTitle {
    padding: 0;
    margin: 0 0 7%;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #c38d36;
    display: block;
    width: 100%;
}

#myAccountDetailsTitle.noLabRequests {
    margin: 0;
    color: #b7b7b7;
    text-align:center;
    }

#myAccountDetails {
    margin: 0 auto;
    display: table;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Raleway', sans-serif;
    padding: 50px;
    margin-bottom: 5%;
    width: 96%;
    max-width: 600px;
}
#myAccountDetails span,
#myAccountDetails label,
#myAccountDetails > a {
    float: left;
    line-height: 30px;
}
#myAccountDetails span {
    font-weight: bold;
    color: #444444;
}
#myAccountDetails label {
    clear: left;
    width: 42%;
    color: #4d4d4d;
    /* font-weight: bold; */
}

#myAccountDetails a{
    cursor: pointer;
    color: #c38d36;
    font-weight: bold;
}

#myAccountDetails #myAccountMarketing{
	margin-top:20px;
}


#myAccountDetails #myAccountMarketing.true{
	color: #08a81f;
}


#myAccountDetails #myAccountMarketing.false{
	color: #ee3a0c;
}




#myLabRequestContainer {
    max-width: 1000px;
    margin: 0 auto;
}

.myLabRequestTitle{
	font-weight:100;
	text-align: center;
}

#myLabRequestContainer .noLabRequests{
	padding: 30px 100px;
}


.myLabRequestGrid {
	font-size: 14px;
	color: #666;
	position: relative;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	background:white;
	border-collapse: collapse;
}

.myLabRequestGrid td{
	vertical-align: baseline;
	padding: 1em 0.5em;
	height: 80px;
}

.myLabRequestGrid td:first-child{
	vertical-align: top;
	padding-left: 1.1em;
}

.myLabRequestGrid tr:nth-child(odd) td{
	
background: rgb(250,250,250);
}





.myLabRequestRow img{
	height: 29px;
}

td.myLabRequestMidCol{
	padding-right: 1.3em;
}

td.myLabRequestEndCol{
	text-align:right;
	padding-right: 1.1em;
}

.myLabRequestRowFlavor,.myLabRequestRowPrice{
	color: #555;
	font-weight: 700;
	font-size: 17px;
	display: block;
}

.myLabRequestRowInfo{
	font-size: 12px;
	color: #5d5d5d;
	padding-top: 0.2em;
	display: inline-block;
	line-height: 1em;
}


.myLabRequestRowPoints{
	
font-weight: bold;
	
font-size: 13px;
	
white-space: nowrap;
	}
	
.myLabRequestRowPoints.positive{
	color:#16d016;
	}

.myLabRequestRowPoints.negative{
	color:#e35e30;
	}
	
.myLabRequestRowInfo span{
	white-space: nowrap;
	display: inline-block;
}


.myLabRequestRowInfo span:before{
	content: ' • ';
}

.myLabRequestRowPrice.free{
	color:#16d016;
}


.myLabRequestTotalSummary{
	font-size: 21px;
	margin: 0 1em 2em;
	text-align: right;
	padding: 30px 3vw;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	line-height: 1.5em;
}


.myLabRequestTotalSummaryPoints{
	font-size:0.7em;
	line-height: 1em;
	display: block;
	margin-top: 0.8em;
}

.myLabRequestTotalSummaryPoints b{
	color: #16d016;
	
	font-weight: bold;
}

.myLabRequestTotalPrice b{
	color: #009b00;
}


.myLabRequestFlask {height: 50px;}

.myLabRequestGridState{
	margin-top: 1em;
	bottom: 1.4em;
	right: 0.9em;
	font-size: 0.85em;
}

.myLabRequestGridState:after{
	content:'';
	height:1em;
	width:1em;
	display:inline-block;
	border-radius:1em;
	vertical-align: -0.2em;
	/* box-shadow: 2px 2px 3px rgba(0,0,0,0.3) inset; */
	margin-left: 0.3em;
}

.myLabRequestGridState.stateR:after,
.myLabRequestGridState.stateN:after{
	background-color:#16d016;
}

.myLabRequestGridState.stateU:after{
	background-color:#e35e30;
}

.myLabRequestGridState.stateP:after{
	background-color:#16a5d0;
}



/* ################################### MEDIA QUERIES ################################### */

@media only screen and (max-width: 850px) {
    #headerMenu{
		display:none;
		position: fixed;
		top: 0;
		right: 0;
		background: #111;
		padding: 40px 40px;
		}
		
	#headerMenuCloser{
		position: fixed;
		background: rgba(150,150,150,0.7);
		top: 0;
		width: 100%;
		left: 0;
		height: 100%;
	}	

	#headerMenuCloser.opened,
	#headerMenu.opened {
		display:block;
	}		
	
	#headerMenuOpener{
		display:block;
		width: 55px;
		position: absolute;
		right: 10px;
		top: 30%;
		padding: 10px;
	}
	
	
	#headerMenu a {
        padding: 10px 0;
        font-size: 16px;
        clear: both;
        line-height: 24px;
    }

	#headerMenu a img{

		float: left;
		margin: 0 10px 0 0;
	}	

#nectarOrderContainer #contentContainer {
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

	#liquidOrderHeading{
		width: 80%;
		padding-left: 180px;
		position:relative;
		text-align:left;
		margin: 2em 0;
		/* flex: 0 0 auto; */
	}

	#yourVeryOwn{
		
font-size: 0.9em;
	}

	#liquidOrderNectarName{
		margin-bottom:0.5em;
	}

	#liquidOrderFlask{
		position:absolute;
		left: 35px;
		height: 8em;
		margin: 0;
	}

#liquidOrderNectarTags{
	margin:0;
}

	#liquidOrderData{
		width: 80%;
		/* flex: 1 1 auto; */
	}

	#liquidOrderTable td:first-child {
    width:150px;
}
}
@media only screen and (max-width: 750px) {

    html {
        /* padding-top :90px; */
    }

    body{
    	padding-top:90px;
    }

    #header {
        height:90px;
    }


    #mainLogo {
        width: 200px;
    }

    #goldRibbon{
        font-size:25px;
        padding:11px;
    }

 
	
	
	.product-item-hr{
		font-size: 4vw;
	}
	
	.product-item-hr.longText{
		font-size: 3vw;	
	}	
	
	.product-item {
		margin: 2% 1% 2% 1%;
		width: 48%;
		max-width: 48%;
	}
	
	.product-item-title {
		font-size:4vw;
	}
	
	.product-item-brand {
		font-size:1.1em;
	}
	
	.product-item-info{
		font-size:2.5vw;
	}	
}
@media only screen and (max-width: 600px) {
    .nectar {
        width: 50%;
    }
    .nectarFlask {
        width: 85%;
    }


		#liquidOrderHeading{
		font-size: 15px;
		padding-left:145px
	}

img#liquidOrderFlask {
	left: 26px;
	height: 7em;
}	


#liquidOrderTable td:first-child {
width:115px}




}
@media only screen and (max-width: 500px) {
    #goldRibbon {
        font-size: 7vw;
    }
    .nectarName {
        font-size: 6vw;
    }
    .nectarInfo {
        padding: 0 2vw;
        font-size: 4vw;
    }
    #myAccountDetails {
        width: 96%;
        padding: 50px;
    }

    #myAccountDetails span,
    #myAccountDetails label {
   width: 100%;
   padding-left: 5%;
   line-height:1.5em;
   margin-bottom:20px;
   font-size: 18px;
   }

    #myAccountDetails label {
   width: 100%;
   padding-left: 0%;
   margin-bottom:0px;
   }
   
   
   
	/*
   	.product-item-hr{
		
	}
	
   	.product-item-hr.longText{
		
	}	
   
   	.product-item {
		margin: 0.3%;
		border-radius: 0;
		width: 49%;
		max-width: 49%;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}
	
	.product-item-title {
	    font-size: 1.3em;
	}
	

	.product-item-brand {
		font-size: 1em;
	}
	
	.product-item-info{
		font-size: 0.8em;
	}		
	
	*/
	
	
   	.product-item-hr{
		font-size: 1.3em;	
	}
	
   	.product-item-hr.longText{
		font-size: 1em;	
	}	
   
   	.product-item {
		width: 100%;
		max-width: 100%;
	}
	
	.product-item-title {
		font-size:1.6em;
	}
	
	.product-item-brand {
		font-size:1.3em;
	}	
	
	.product-item-info{
		font-size:1em;
	}	

#nectarOrderContainer{
	background: #fffcf569;
}

		#liquidOrderHeading{
		font-size: 13px;
		width: 92%;
		padding-left: 145px;
		margin: 2em 2em 0;
	}

img#liquidOrderFlask {
	left: 40px;
	height: 7em;
}	

	#liquidOrderData{
			width: 100%;
			background: transparent;
			box-shadow: none;
	}

#liquidOrderTable td:first-child {
width:130px}


}

@media only screen and (max-width: 400px) {
	#mainLogoSmall{
		display:block !important;
		margin-left: 10px;
		cursor:pointer;
	}
	#mainLogo{
		display:none;
	}	

	.credPopupTitle{
    font-size: 17px;
    }	

	.credPopupTable{
    width: 100%;
    min-width: 230px;
    }
	
	

    .credPopupTable td:first-child{
        font-size:0
    }

    
	.credPopupForm input[type=email], 
	.credPopupForm input[type=password] {
    width: 100% !important;
    }
	
	#liquidOrderHeading {
		padding-left:98px
	}

	img#liquidOrderFlask {
    left: 3px;
	}
	
	#liquidOrderTable td:first-child {
    width: 80px;
}
	
	
}
