@font-face {
  font-family: 'Beleren';
  src: url('Beleren.ttf')  format('truetype'); 
}


.fxDisplay {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fxDirCol {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.fxAlignCenter {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.fxJustifyCenter {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fxFixed {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.fxStretch {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fxWrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
