@font-face {
  font-family: 'Beleren';
  src: url('Beleren.ttf')  format('truetype'); 
}

/*
@font-face {
  font-family: 'Sakkal Majalla';
  src: url('SakkalMajalla.ttf')  format('truetype'),
}
*/

.fxDisplay{
	display:flex;	
}

.fxDirCol{
	flex-direction:column;
}


.fxAlignCenter{
	align-items:center;
}

.fxJustifyCenter{
	justify-content:center;
}

.fxFixed{
	flex:0 0 auto;
}

.fxStretch{
	flex:1 1 auto;
}

