/*GLOBAL*/

*{box-sizing:border-box}

html{
	margin:0;
	height:100%;
}

body {
	font-family: 'Quantico', sans-serif;
	margin:0;
	
	height:100%;
	overflow: hidden;
	position:relative;
	transition:box-shadow 0.3s;
	transition-delay:0.5s;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.3) inset;
		background: url(floralBGWhite.png);
}

input, select{
	font-family: 'Quantico', sans-serif;
	border: 0;
	font-size: 16px;
}
.content {
	overflow-y:auto;
}

/*LIQUID ORDER POPUP*/

#liquidOrderSection{
	background: rgba(100,100,100,0.8);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#liquidOrderForm{background: white;height: 400px;width: 560px;padding: 30px 30px 30px 223px;position: relative;border-radius: 10px;color: #999;box-shadow: 200px 0 0 0 #eee inset;}

#liquidOrderNectarThumbnail{
    position: absolute;
    left: 20px;
    width: 160px;
}


#yourVeryOwn{
    position: absolute;
    top: 216px;
    width: 160px;
    left: 20px;
    color: #d87b00;
    text-align: center;
}

#liquidOrderNectarName{
    color: #444;
    font-family: "Beleren";
    font-size: 25px;
    margin-bottom: 0.3em;
    display: block;
    text-shadow: -1px -1px 1px white, 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    left: 20px;
    width: 160px;
    text-align: center;
    bottom: 129px;
}


#liquidOrderCustomerThumbnail{
	border: 2px solid #111;
	border-radius: 100%;width: 60px;}



/*SPLASH*/


#splashDiv{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	z-index: 99999999;
	height: 100%;
	background: url(floralBG.png);
}

#splashLogo{
	width: 250px;
	max-width:80%;
	-webkit-animation: pulse 0.7s ease-out;
	-moz-animation: pulse 0.7s ease-out;
	animation: pulse 0.7s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	height: 106px;
	background-image: url(mainLogo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

#loader{
	top: 90%;
	left: 50%;
	position: absolute;
}

/*HEADER*/

#header{
	    background: url(floralBG.png);
}

#headerContainer{
	width:1000px;
	margin:0 auto;
}


#headerMenu {
    float: right;
    margin-top: 26px;
    color: rgba(255,255,255,0.5);
}

#headerMenu a{
     font-size: 15px;
     float: left;
     margin: 0 10px;
     cursor:pointer;
}

#headerMenu a:hover{
     color:#caae77
}


#headerMenu a:hover .menuImg{
	opacity: 0.7;
}

.menuImg{  
    margin: 0 10px;
  display: block;
  margin: 0 auto 6px;
  opacity: 0.3;
}

#menuBurger{
	display:none;
	float: right;
}

/*SUB HEADER*/
#goldRibbon{
	background: rgba(255,172,48,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,172,48,1) 0%, rgba(220,167,78,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,172,48,1)), color-stop(100%, rgba(220,167,78,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,172,48,1) 0%, rgba(220,167,78,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,172,48,1) 0%, rgba(220,167,78,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,172,48,1) 0%, rgba(220,167,78,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,172,48,1) 0%, rgba(220,167,78,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffac30', endColorstr='#dca74e', GradientType=1 );
	font-family: "Beleren";
	text-align: center;
	padding: 30px 0;
	margin-bottom: 5%;
	font-size: 40px;
	color: #ffd798;
}

/*CONTENT*/

#contentContainer{
	width: 100%;
	max-width:1000px;
	margin: 0 auto;
}

#sideBar{
	display:none;
	width: 300px;
	color: white;
	font-size: 18px;
	overflow-y: auto;
	text-shadow: 0 0 10px black;
	text-align: right;
}

#mainLogo{
	width: 230px;
	float:left;
	padding: 5px;
}

#sideBar ul{
	list-style:none outside none;
	margin:0px;
	padding: 0;
}


#sideBar li{
	margin: 31px 41px 32px 0;
	color: #655a44;
}

#sideBar li:first-child{
	color: #cecece;
}




/*NECTARS*/


.nectar {
    float: left;
    width: 250px;
    TEXT-ALIGN: center;
    margin-bottom: 5%;
    max-width:250px;
    padding:10px 0;
    border-radius:20px;
    position: relative;
}

.nectar:hover, .nectar.active {
   
    background-color: rgba(170,170,170,0.4);
   
}

.nectarFlask{
	width:75%;
}

.topseller{
	width: 30%;
	left: 56%;
	position: absolute;
	top: 8%;
}

.nectarName{
	color: #444;
	font-family: "Beleren";
	font-size: 30px;
	margin-bottom: 0.3em;
	display: block;
	text-shadow: -1px -1px 1px white, 1px 1px 1px rgba(0,0,0,0.5);
}

.nectarInfo{
	color: rgba(0,0,0,0.5);
	line-height: 0.91em;
	/* margin-bottom: 20px; */
	display: block;
	/* height:40px; */
	padding: 0 20px;
}

@media only screen and (max-width: 1000px) {


#headerContainer{
	width:100%;
}



}




@media only screen and (max-width: 850px) {
	        #headerMenu a{
				margin: 0 7px;
				font-size:13px;
			}
}
	

@media only screen and (max-width: 750px) {
	
	html{overflow: hidden;}
	#header{
		display:block;
		width:100%;
		/* height:120px; */
	}


    

	#menuBurger{
	display:none;
}

	#mainLogo{
		 width:150px;

	}

	#menu{
		width: 39px;
		float:right;
		margin: 42px;
	}


	#headerMenu{
		
		right:0;
		top:120px;
		position:absolute;
		background-color: #121212;
		height:100%;
		width:250px;
		right: -250px;
		transition: right 0.3s;
	}

	#headerMenu.open{
		right: 0px;
	}
	

}

@media only screen and (max-width: 600px) {



.nectar {
    width: 50%;
    
}

.nectarFlask{
	width:85%;
}


}

@media only screen and (max-width: 500px) {

#goldRibbon{
	font-size:10vw;
}
.nectarName{
	
	font-size: 6vw;
	
}

.nectarInfo{    
padding: 0 2vw;
    font-size: 4vw;}


}



