html{
	height:100%;
}

body {
	background: url("floralBG.png");
	height:100%;
	position:relative;
}

#splashLogo{
	top: 50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	transition: top 0.4s;
}

#splashLogo.loading{
	top:40%;
}

#splashLogo.loaded{
	top:0%;
	left:0%;
	transform: translateY(0) translateX(0) scale(0.5);
	
}

#loader{
	top: 50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	transition: top 0.4s;	
}

#loader.loading{
	top:70%;	
}
